.btn {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1rem 10px;
  color: white;
  font-size: 1.8rem;
  font-weight: 300;
  background-color: black;
  text-transform: uppercase;
  line-height: 1;
  border: 0;
  outline: none;
  cursor: pointer;
}
